.footer
{
font-family: "Poppins", sans-serif;
}

body{
	background-color: #950952;
	font-family: "Poppins", sans-serif;
	color:#ffffff;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.customCallout
{
	background-color:#d81159;
	color:#ffffff;
}

.footer{
	background-color:#d81159;
	text-align:center;
}